/* BASIC STYLES HERE */
.profile-picture {
  height: 200px;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.profile-picture.profile-picture-sm {
  height: 64px;
}

#imgBG {
  position: absolute;
  background-size: cover;
}

body {
  background-color: rgb(28, 28, 28);
  background-size: cover;
  background-position: center;
  font-family: "Fira Mono", monospace;
  font-weight: 400;
  font-style: normal;
  /* filter: grayscale(100%); */
}

.bg-frost {
  color: rgb(217, 217, 217);
  /* color: rgb(10, 62, 233); */
  padding: 2em;
  background-color: #40404044;
  backdrop-filter: blur(10px);

  /* width: 75%; */
}

.corners-right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 3em;
}

.corners-left {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 3em;
}

#active-quote {
  text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}

#clock-display {
  font-size: 72px;
}

.reveal {
  opacity: 0;
  transform: translateY(-2em);
  transition: all .25s ease-in-out;
}

.secret-hover {
  transform: translateY(0);
  transition: all .25s ease-in-out;
}

.secret-hover:hover {
  transition: all .25s ease-in-out;
  transform: translateY(-.5em);
}

.secret-hover:hover+.reveal {
  opacity: 1;
  transition: all .25s ease-in-out;
  transform: translateY(0);
}


/**!SECTION

this is the invisible thing while invisible, and while going back to invisible
.reveal {
  transition: all 1s linear;
  transform: scale(0);
}

.secret-hover+.reveal {
  opacity: 0;
}

.secret-hover:hover+.reveal,
div.reveal:hover {
  opacity: 1;
  transform: scale(1);
  transition: all 5s linear;
}

.secret-hover {}
secret hover is what's visible - has no style attached to it
reveal is the invisible thing. plain .reveal takes it back to it's original state

when we hover over secret-hover or reveal


 <h1 class="text-end secret-hover">${this.date.toDateString()} <button onclick="app.SandboxController.saveApod()" class="btn btn-outline-light"></button></h1>
     <div class="reveal">
      <p>${this.description}</p>
      <p class="text-info">${this.author}</p>
     </div>
     
*/