<div class="container-fluid">
  <div class="row py-3 justify-content-end">


    <!-- <div id="weather-display" class="align-self-end h-auto w-auto bg-frost col-3">
      weather display is here 
    </div> -->
    <!-- 👇 👇 📋 todos list 👇 👇 -->
    <div class="col-3">
      <button class="btn w-100 text-start bg-frost p-1 border-0 my-3 rounded-start-pill ps-3" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#todos-dashboard" aria-controls="offcanvasRight">X / Y Todos
        Remain</button>

      <section id="todos-dashboard" class="bg-frost corners-left offcanvas offcanvas-end" tabindex="-1">
        <div class="offcanvas-header">
          <h5 id="offcanvasRightLabel">Offcanvas right</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div id="todos-count" class="text-end me-4">
          <p id="todos-message"></p>
          <!-- <h6>X / Y</h6>
      <p>
        <small>Incomplete Todos</small>
      </p>
      <p>
        <small>Keep it up 👏</small>
      </p>
      <p>
        <small>All done 🤙</small>
      </p> -->
        </div>

        <div class="mb-5" id="todos-list">
          <!-- 👈 👈 📋 todos list 👉 👉 -->
        </div>
        <div>
          <hr>
          <!-- 👇 👇 ✅ todos form 👇 👇 -->
          <form id="todos-form" class="input-group mb-3" onsubmit="app.TodosController.newTodo()">
            <input type="text" name="description" id="description" minlength="2" maxlength="28"
              class="form-control border-white border" placeholder="new todo">
            <button class="btn btn-outline-white text-white fw-bold" type="submit">+</button>
          </form>
      </section>
    </div>
  </div>


  <!-- 👇 👇 clock 👇 👇 -->
  <div id="clock-display" class="text-white text-shadow text-center">
  </div>

  <!-- 👇 👇 data 👇 👇 -->
  <h4 id="date-display" class="text-white text-shadow text-center">
  </h4>

  <!-- 👇 👇 weather display 👇 👇 -->
  <section class="row align-items-center justify-content-around">
    <div class="col-3 text-center">
      <div id="weather-display" class="w-50 h-auto border border-white rounded rounded-2 my-2 p-1 bg-frost">
      </div>
    </div>
    <!-- 👇 👇 quote 👇 👇 -->
    <div class="col-6 mb-5 ">
      <div id="active-quote" class="text-white">
      </div>
    </div>
    <!-- 👇 👇 empty right side div 👇 👇 -->
    <div class="col-3">

    </div>
  </section>
</div>