<div class="container-fluid">
  <div class="row py-3">
    <div id="" class="col-12">
      <!-- <img src="${this.imgUrl}" alt=""> -->
    </div>
    <div id="weather-display" class="h-auto w-auto border border-2 rounded border-dark col-2">
      <!-- <i class="mdi mdi-weather-sunny fs-2 d-block"></i>
      <small>73°F Sunny</small> -->
    </div>
    <div id="active-quote" class="col-8 w-auto">
      <!-- <h4 class="text-success"></h4> -->
    </div>
    <!-- <button class="fs-6 w-auto p-3 rounded btn border border-4 btn-outline-dark" -->
    <i role="button" class="fs-2 text-dark mdi mdi-refresh" onclick="app.QuotesController.getQuote()"></i>
  </div>
  <div id="todos-count">
    <p id="todos-message"></p>
    <!-- <h6>X / Y</h6>
      <p>
        <small>Incomplete Todos</small>
      </p>
      <p>
        <small>Keep it up 👏</small>
      </p>
      <p>
        <small>All done 🤙</small>
      </p> -->
  </div>
  <div class="col-3" id="todos-list">
    <!-- <p class="bg-secondary rounded p-1 fw-light text-danger">Todo Description</p> -->
  </div>
  <div>
    <form id="todos-form" onsubmit="app.TodosController.newTodo()">
      <label for="description" class="d-block">New Todo</label>
      <input type="text" name="description" id="description">
      <button type="submit">Submit</button>
    </form>
  </div>
</div>