<div class="container-fluid">
  <div class="row py-3 justify-content-between">

    <div id="weather-display" class="align-self-end h-auto w-auto corners-right bg-frost col-3">
      <!-- weather display is here -->
    </div>
    <section id="todos-dashboard" class="col-3 bg-frost corners-left">
      <div id="todos-count" class="text-end me-4">
        <p id="todos-message"></p>
        <!-- <h6>X / Y</h6>
      <p>
        <small>Incomplete Todos</small>
      </p>
      <p>
        <small>Keep it up 👏</small>
      </p>
      <p>
        <small>All done 🤙</small>
      </p> -->
      </div>
      <div class="mb-5" id="todos-list">
        <!-- todos list is here -->
      </div>
      <div>
        <hr>
        <form id="todos-form" onsubmit="app.TodosController.newTodo()">
          <label for="description" class="d-block">New Todo</label>
          <input type="text" name="description" id="description" class="form-control">
          <button type="submit" class="border border-white rounded rounded-2">+</button>
        </form>
    </section>
  </div>
  <h1 id="clock-display" class="fs-1 text-white text-center">
    <!-- clock is here -->
  </h1>

  <div class="row justify-content-center">
    <div id="active-quote" class="col-6 text-white">
      <!-- quote is here -->
    </div>

  </div>
</div>